.Text {
  margin: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.Text--noLastBlock .Text__cursor {
  margin-left: 0.1em;
  padding-left: 2px;
  background-color: var(--primary-color);

  animation: blink 900ms infinite; /* IE 10+, Fx 29+ */
}

.Text--lastBlock .Text__lastChar {
  background-color: red;
  color: white;
}

.Text__line {
  margin: 0;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
